AUTH:Evan Wilde
DATE:April 6 2014
TYPE:java
INCTYPE:import

---START
/*---------------------------   
 * <FILENAME>
 * File: <FILE>
 * Auth: <USERNAME> <EMAIL>
 * Date: <DATE>
 *--------------------------*/
---END
<INC>
